################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/CMakeFiles/MyProject.dir
/build
/.vs
